<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Dose</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header>
        <!-- navigation -->
        <nav>
            <ul>
                <a href="/"><li>Homepage</li></a>
                <a href="/dash"><li>Dashboard</li></a>
                <a href="/login"><li>Login</li></a>
                <a href="#" id="logout"><li>Logout</li></a>
            </ul>
        </nav>
        <!-- navigation -->

        <!-- title -->
        <div id="web-title-div">
            <h1 id="web-title">The Daily Dose</h1>
        </div>
        <!-- title -->
    </header>

    <section>
        {{{body}}}
    </section>


    
</body>

</html>
<script src="../js/logout.js"></script>
