<div id="login-container">

    <div id="login-title-container">
        <h1 id="login-title">Login</h1>
    </div>

    <div id="login-div">
        <form action="/login" method="POST">

            <label for="username">Username:</label>
            <input type="username" name="username" id="username" placeholder="Username" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
            
            <button id="login-btn" type="submit">Login</button>
        </form>
    </div>

    <div>
    <a href="/signup">Don't have an account? Sign up here!</a>
    </div>
</div>

<script src="../js/login.js"></script>