<div id="create-post">
    <div id="create-post-title">
    <h1>Create New Post</h1>
    </div>
    <form id="create-post-form" action="/newpost" method="post">
        
        <label class="post-labels" id="new-post-title" for="new-post-title">Title</label>
        <input type="text" name="new-post-title" id="new-post-title-input">

        <label class="post-labels" id="new-post-content-input" for="new-post-content-title">Post</label>
        <textarea name="new-post-content-title" id="new-post-content-input" cols="30" rows="10"></textarea>

        <input id="submit-btn-create"type="submit" value="Submit">

    </form>
</div>

<script src="../js/newpost.js"></script>