<div id="login-container">

    <div id="login-title-container">
        <h1 id="login-title">Sign Up</h1>
    </div>

    <div id="login-div">
        <form action="/login" method="POST">
        
            <label for="username">Username:</label>
            <input type="username" name="username" id="username" placeholder="Username" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password" required>

            <button id="signup-register-btn" type="submit">Sign Up</button>
        </form>
    </div>

    <div>
    <a href="/login">Already have an existing account? Login!</a>
    </div>
</div>

<script src="../js/signup.js"></script>